<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd" [
<!ENTITY contextInclude SYSTEM "com/interface21/web/context/WEB-INF/contextInclude.xml">
]>

<beans>

	<!-- ===========================================================-->
	<!-- Message source						-->
	<!-- ===========================================================-->

	<bean id="messageSource" class="com.interface21.context.support.ResourceBundleMessageSource">
		<property name="basename">
			<value>com/interface21/web/context/WEB-INF/context-messages</value>
		</property>
	</bean>

	<bean id="themeSource" class="com.interface21.ui.context.support.ResourceBundleThemeSource">
		<property name="basenamePrefix">
			<value>com/interface21/web/context/WEB-INF/</value>
		</property>
	</bean>

	<!-- ===========================================================-->
	<!-- Listeners							-->
	<!-- ===========================================================-->

	<!--
	<bean
		name="performanceMonitor" class="com.interface21.context.support.TestListener"
	/>
	-->

	<!--
	<bean name="aca" class="com.interface21.context.ACATest">
	</bean>

	<bean name="aca-prototype" class="com.interface21.context.ACATest" singleton="false">
	</bean>
	-->

	<bean id="config.testConfigObject" class="com.interface21.web.context.TestConfigBean">
		<property name="name">
			<value>Tony</value>
		</property>
		<property name="age">
			<value>48</value>
		</property>
	</bean>

	<bean id="config.testConfigObject2" class="com.interface21.web.context.ContextAwareTestConfigBean">
		<property name="name">
			<value>Gordon</value>
		</property>
		<property name="age">
			<value>49</value>
		</property>
	</bean>

	<bean id="beanThatListens" class="com.interface21.context.BeanThatListens"/>

	<bean id="parentListener" class="com.interface21.context.TestListener"/>

	<!-- Inherited tests -->

	<!-- name and age values will be overridden by myinit.properties" -->
	<bean id="rod" class="com.interface21.beans.TestBean">
		<property name="name">
			<value>dummy</value>
		</property>
		<property name="age">
			<value>-1</value>
		</property>
	</bean>

	<!--
			Tests of lifecycle callbacks
		-->
	<bean id="mustBeInitialized"
		class="com.interface21.beans.factory.MustBeInitialized">
	</bean>

	<bean id="lifecycle"
		class="com.interface21.beans.factory.LifecycleBean">
	</bean>

	&contextInclude;

	<bean id="myinit" class="com.interface21.context.support.PropertyResourceConfigurer">
		<property name="location">
			<value>/com/interface21/web/context/WEB-INF/myinit.properties</value>
		</property>
	</bean>

</beans>